.au_init, .au_init * {
    box-sizing: border-box;
    padding: .7em 1.2em;
    border-radius: 3px;
    font-family:"Segoe UI";
}
.au_init:focus, .au_init *:focus {
    outline: none;
}

/* element - tag */
.au_init h1, .au_init h2{
    padding: 0 !important;
}
.au_init h1 {
    margin: .2em 0 .5em 0;
}

.au_init h2 {
    font-weight: normal;
    margin: 0.4em 0;
}

/* element - class */
.au_init .au_input{
    text-align: right;
    background: rgba(255,255,255,.75);
    border: 1px solid rgba(175, 175, 175, 0.38);
    font-weight: bold;
}
.au_init .au_btn{
    margin:10px 0;
    text-align: center;    
    color: white;
    border: none;
}
.au_init .au_div {
    border: 1px solid rgba(213, 213, 213, 0.49);
    background: rgba(233, 233, 233, 0.1);
}

/* Height / Width */
.au_fw {
    width: 100%;
}
.au_hw {
    width: 50%;
}
.au_100w {
    width: 100px;
}
.au_200w {
    width: 200px;
}
.au_300w {
    width: 300px;
}
.au_400w {
    width: 400px;
}
.au_500w {
    width: 500px;
}
.au_600w {
    width: 600px;
}
.au_100h {
    height: 100px;
}
.au_150h {
    height: 150px;
}
.au_200h {
    height: 200px;
}

/* Color */
.au_init .c_b {
    background: rgb(60, 117, 221);    
}
.au_init .c_r {
    background: rgb(218, 21, 21);
}
.au_init .c_g {
    background: rgb(2, 151, 14);
}
