.au_init, .au_init * {
    box-sizing: border-box;
    padding: .7em 1.2em;
    border-radius: 3px;
    font-family:"Segoe UI";
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
}
.au_init:focus, .au_init *:focus {
    outline: none;
}

/* element - tag */
.au_init h1, .au_init h2{
    padding: 0 !important;
}
.au_init h1 {
    margin: .2em 0 .5em 0;
}

.au_init h2 {
    font-weight: normal;
    margin: 0.4em 0;
}

/* element - class */
.au_init .input{
    text-align: right;
    background: rgba(255,255,255,.75);
    border: 1px solid rgba(175, 175, 175, 0.38);
    font-weight: bold;
}
.au_init .btn{
    margin:10px 0;
    text-align: center;    
    color: white;
    border: none;
}
.au_init.div,.au_init .div {
    border: 1px solid rgba(213, 213, 213, 0.49);
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 30px 10px rgba(255, 255, 255, 0.33);
}

/* Height / Width */
.wf {
    width: 100%;
}
.wh {
    width: 50%;
}
.w100 {
    width: 100px;
}
.w200 {
    width: 200px;
}
.w300 {
    width: 300px;
}
.w400 {
    width: 400px;
}
.w500 {
    width: 500px;
}
.w600 {
    width: 600px;
}
.h100 {
    height: 100px;
}
.h150 {
    height: 150px;
}
.h200 {
    height: 200px;
}

/* Color */
.au_init .btn.c_b {
    background: rgb(60, 117, 221);    
}
.au_init .btn.c_r {
    background: rgb(218, 21, 21);
}
.au_init .btn.c_g {
    background: rgb(2, 151, 14);
}
